---
import "@/styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/constants";
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html
  lang="zh"
  class="min-h-dvh bg-neutral-200 dark:bg-neutral-800 bg-fixed bg-center bg-[size:1rem_1rem]
  bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)]
  scrollbar-track-transparent scrollbar-thumb-neutral-400 dark:scrollbar-thumb-neutral-600"
>
  <BaseHead title={title} description={description} />
  <body class="h-dvh font-serif dark:text-white">
    <slot />
  </body>
</html>
