---
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
  title?: string;
  description?: string;
  mainClass?: string;
}

const { title, description, mainClass = "" } = Astro.props;
---

<BaseLayout title={title} description={description} bodyClass="w-full flex flex-col max-w-6xl">
  <Header />
  <main class={`flex-1 ${mainClass}`.trim()}>
    <slot />
  </main>
  <Footer />
</BaseLayout>
